{% extends 'base.html.twig' %}

{% block body %}

    <form>
        <div class="form-group">
            <h1>Modifier Plante N°{{ plant.id }}</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}
        </div>
        <div class="form-group">
            <a href="{{ path('plant_index') }}">Retourner à la liste</a>
        </div>
        <div class="form-group">
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </form>
{% endblock %}
