{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des plantes</h1>

    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Lattitude</th>
                <th>Longitutde</th>
                <th>Image</th>
                <th>Arrosée</th>
                <th>Dernier arrosage</th>
                <th>Prochain arrosage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
            <tr>
                <td><a href="{{ path('plant_show', { 'id': plant.id }) }}">{{ plant.id }}</a></td>
                <td>{{ plant.lat }}</td>
                <td>{{ plant.lng }}</td>
                <td><img src="{{ plant.picture }}" alt="Plante N°{{ plant.id }}"></td>
                <td>{% if plant.isWatered %}Oui{% else %}Non{% endif %}</td>
                <td>{% if plant.lastWatering %}{{ plant.lastWatering|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if plant.nextWatering %}{{ plant.nextWatering|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('plant_show', { 'id': plant.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('plant_edit', { 'id': plant.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" type="button" href="{{ path('plant_new') }}">Créer une nouvelle plante</a>
        </li>
    </ul>

{% endblock %}
