{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plante N°{{ plant.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Lattitude</th>
                <td>{{ plant.lat }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ plant.lng }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ plant.picture }}" alt="Plante N°{{ plant.id }}"></td>
            </tr>
            <tr>
                <th>Arrosée</th>
                <td>{% if plant.isWatered %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Dernier arrosage</th>
                <td>{% if plant.lastWatering %}{{ plant.lastWatering|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prochain arrosage</th>
                <td>{% if plant.nextWatering %}{{ plant.nextWatering|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plant_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a href="{{ path('plant_edit', { 'id': plant.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
