{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1>La jardinerie</h1>
        <p>Bienvenue sur la page d'acceuil</p>
    </div>

    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    <script>
        var routeApi = "{{ path('api_plants')}}";
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASltntjVHUCo-nk3HURdJeCtQv7NbTAD0&signed_in=true&callback=initMap"></script>
    <script src="{{ asset('assets/js/plants-map.js') }}"></script>
{% endblock %}


